## Reading and Preparation

In [31]:
#    #Imports
import numpy as np
import pandas as pd
import os
#    #Paths
DATA_PATH = "C:/Users/User/Documents/SISE/pomiary"
DATA_PATH_F8 = DATA_PATH + "/F8"
DATA_PATH_F10 = DATA_PATH + "/F10"
DATA_FOLDERS = [DATA_PATH_F8, DATA_PATH_F10]
DATA_FOLDER_NAMES = ["/F8", "/F10"]
OUT_DATA_PATH = "C:/Users/User/Documents/SISE/pomiary/prepared/"
#    #Creating necessary directory
if not os.path.exists(OUT_DATA_PATH):
    os.mkdir(OUT_DATA_PATH)

In [32]:
#    #Functions
def prepare_data_frame(path, columns_to_use):
    df = pd.read_excel(path)
    prepared_df = pd.DataFrame(df, columns=columns_to_use)
    return prepared_df

def prepare_static_data(columns_for_training, data_folders, static_data_frame):
    for folder in DATA_FOLDERS:
        for filename in os.listdir(folder):
            if "stat" in filename:
                path = os.path.join(folder, filename)
                static_data = prepare_data_frame(path, columns_for_training)
                static_data_frame = pd.concat([static_data_frame, static_data])
            else:
                continue
    return static_data_frame

def prepare_dynamic_data(columns_for_training, data_folders, dynamic_data_frame):
    for folder in DATA_FOLDERS:
        for filename in os.listdir(folder):
            if not "stat" in filename and not "random" in filename:
                path = os.path.join(folder, filename)
                dynamic_data = prepare_data_frame(path, columns_for_training)
                dynamic_data_frame = pd.concat([dynamic_data_frame, dynamic_data])
            else:
                continue
                
    return dynamic_data_frame

In [33]:
#    #Static data
    
#    #Creating the pandas DataFrame
static_data = pd.DataFrame()
#    #Choosing necessary columns of data for learning
columns_for_training = ["data__coordinates__x", "data__coordinates__y",
                        "reference__x", "reference__y"]
#    #Merging into one DataFrame all files with static data and with specific columns
static_data = prepare_static_data(columns_for_training=columns_for_training,
                                    data_folders=DATA_FOLDERS, 
                                    static_data_frame=static_data)

In [34]:
#    #Preview of data
static_data

     data__coordinates__x  data__coordinates__y  reference__x  reference__y
0                  7526.0                 602.0          7500           300
1                  7549.0                 560.0          7500           300
2                  7526.0                 471.0          7500           300
3                  7597.0                 763.0          7500           300
4                  7555.0                 669.0          7500           300
..                    ...                   ...           ...           ...
319                 315.0                1265.0           600          1200
320                 292.0                1237.0           600          1200
321                 312.0                1234.0           600          1200
322                 356.0                1217.0           600          1200
323                 374.0                1228.0           600          1200

[112902 rows x 4 columns]

In [35]:
#    #Deleting rows if any value is NaN
static_data = static_data.dropna(how='any', axis="index")
#    #Splitting static data into two tables
coordinates_static_data = static_data[["data__coordinates__x", "data__coordinates__y"]].copy()
reference_static_data = static_data[["reference__x", "reference__y"]].copy()
#    #Preview of merged static data
static_data

     data__coordinates__x  data__coordinates__y  reference__x  reference__y
0                  7526.0                 602.0          7500           300
1                  7549.0                 560.0          7500           300
2                  7526.0                 471.0          7500           300
3                  7597.0                 763.0          7500           300
4                  7555.0                 669.0          7500           300
..                    ...                   ...           ...           ...
319                 315.0                1265.0           600          1200
320                 292.0                1237.0           600          1200
321                 312.0                1234.0           600          1200
322                 356.0                1217.0           600          1200
323                 374.0                1228.0           600          1200

[112886 rows x 4 columns]

In [36]:
#    #Preview of data coordinates
coordinates_static_data

     data__coordinates__x  data__coordinates__y
0                  7526.0                 602.0
1                  7549.0                 560.0
2                  7526.0                 471.0
3                  7597.0                 763.0
4                  7555.0                 669.0
..                    ...                   ...
319                 315.0                1265.0
320                 292.0                1237.0
321                 312.0                1234.0
322                 356.0                1217.0
323                 374.0                1228.0

[112886 rows x 2 columns]

In [37]:
#    #Preview of reference
reference_static_data

     reference__x  reference__y
0            7500           300
1            7500           300
2            7500           300
3            7500           300
4            7500           300
..            ...           ...
319           600          1200
320           600          1200
321           600          1200
322           600          1200
323           600          1200

[112886 rows x 2 columns]

In [38]:
#    #Saving merged static data into .csv file
coordinates_static_data.to_csv(OUT_DATA_PATH + "coordinates_data_static_merged.csv", header=True, sep=',', index=False)
reference_static_data.to_csv(OUT_DATA_PATH + "reference_data_static_merged.csv", header=True, sep=',', index=False)

In [39]:
#    #Dynamic data

#    #Creating the pandas DataFrame
dynamic_data = pd.DataFrame()
#    #Merging into one DataFrame all files with dynamic data and with specific columns
dynamic_data = prepare_dynamic_data(columns_for_training=columns_for_training,
                                    data_folders=DATA_FOLDERS, 
                                    dynamic_data_frame=dynamic_data)

In [40]:
#    #Preview of merged dynamic data
dynamic_data

      data__coordinates__x  data__coordinates__y  reference__x  reference__y
0                     4033                   498   3900.000000         300.0
1                     4143                   490   3915.584416         300.0
2                     4104                   499   3931.168831         300.0
3                     4107                   476   3946.753247         300.0
4                     4182                   482   3962.337662         300.0
...                    ...                   ...           ...           ...
2633                  4036                   591   3932.214765         300.0
2634                  4068                   605   3924.161074         300.0
2635                  4044                   607   3916.107383         300.0
2636                  3940                   527   3908.053691         300.0
2637                  3951                   539   3900.000000         300.0

[22533 rows x 4 columns]

In [41]:
#    #Splitting dynamic data into two tables
coordinates_dynamic_data = dynamic_data[["data__coordinates__x", "data__coordinates__y"]].copy()
reference_dynamic_data = dynamic_data[["reference__x", "reference__y"]].copy()

In [42]:
#    #Saving merged dynamic data into .csv file
coordinates_dynamic_data.to_csv(OUT_DATA_PATH + "coordinates_data_dynamic_merged.csv", header=True, sep=',', index=False)
reference_dynamic_data.to_csv(OUT_DATA_PATH + "reference_data_dynamic_merged.csv", header=True, sep=',', index=False)